.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }


  .displayContainer {
    background: #333;
    color: white;
    /* max-width: 300px; */
    border-radius: 100px;
    padding-right: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;


}

.btnContainer {
display: flex;
/* border: 1px solid black; */
padding: 0;
}

.button {
    border-radius: 50%;
    padding: 5px;
    margin: 15px;
    background: rgb(90, 90, 189);
    border: 1px solid black;


}
.button:nth-child(10) {
    padding-right: 95px;
    border-radius: 100px;
    padding-left: 95px;
  }
.operators{
    /* border: 1px solid orange; */
    width: 50%;
    margin-right: 50px;
}

.both {
    /* border: 1px solid blue; */
    margin-left: 50px;
}

